flow.json
[
    {
        "id": "8f99ef41.b6e0f",
        "type": "tab",
        "label": "Global Settings",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f905f306.abcfc8",
        "type": "tab",
        "label": "Historical Price Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "36422d0f.464e4a",
        "type": "tab",
        "label": "Stock News",
        "disabled": false,
        "info": ""
    },
    {
        "id": "968af95b.b89a4",
        "type": "tab",
        "label": "Earning Surprises",
        "disabled": false,
        "info": ""
    },
    {
        "id": "global-16",
        "type": "tls-config",
        "name": "",
        "cert": "/data/conveyor/elasticsearch.crt",
        "key": "/data/conveyor/elasticsearch.key",
        "ca": "/data/conveyor/ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "9b676bdd.f0c15",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "global-1",
        "type": "inject",
        "z": "8f99ef41.b6e0f",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "952d970d.157808"
            ]
        ]
    },
    {
        "id": "global-2",
        "type": "file in",
        "z": "8f99ef41.b6e0f",
        "name": "",
        "filename": "/usr/src/app/config/conveyor.yml",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 440,
        "y": 120,
        "wires": [
            [
                "global-3"
            ]
        ]
    },
    {
        "id": "global-3",
        "type": "yaml",
        "z": "8f99ef41.b6e0f",
        "property": "payload",
        "name": "",
        "x": 670,
        "y": 120,
        "wires": [
            [
                "global-4"
            ]
        ]
    },
    {
        "id": "global-4",
        "type": "function",
        "z": "8f99ef41.b6e0f",
        "name": "",
        "func": "var globalVariables = Object.keys(msg.payload);\n\nfor (var i=0; i<globalVariables.length; i++) {\n    global.set(globalVariables[i], msg.payload[globalVariables[i]])\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 860,
        "y": 120,
        "wires": [
            [
                "global-5"
            ]
        ]
    },
    {
        "id": "global-6",
        "type": "comment",
        "z": "8f99ef41.b6e0f",
        "name": "Load Global Context Variables",
        "info": "",
        "x": 240,
        "y": 80,
        "wires": []
    },
    {
        "id": "global-7",
        "type": "switch",
        "z": "8f99ef41.b6e0f",
        "name": "",
        "property": "elasticsearch.useTLS",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 490,
        "y": 400,
        "wires": [
            [
                "global-8"
            ],
            [
                "global-9"
            ]
        ]
    },
    {
        "id": "global-8",
        "type": "http request",
        "z": "8f99ef41.b6e0f",
        "name": "Basic Auth with SSL",
        "method": "use",
        "ret": "obj",
        "url": "",
        "tls": "global-16",
        "x": 680,
        "y": 380,
        "wires": [
            [
                "global-13"
            ]
        ]
    },
    {
        "id": "global-9",
        "type": "http request",
        "z": "8f99ef41.b6e0f",
        "name": "Basic Auth without SSL",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 690,
        "y": 420,
        "wires": [
            [
                "global-13",
                "f88500f0.064488"
            ]
        ]
    },
    {
        "id": "global-10",
        "type": "comment",
        "z": "8f99ef41.b6e0f",
        "name": "Elasticsearch Query Proxy",
        "info": "This endpoint exists to simplify the connection to Elasticsearch.\n\nIt could certainly be cleaned up by creating a http node that accept auth changes on the fly or by creating a better ES node.",
        "x": 190,
        "y": 360,
        "wires": []
    },
    {
        "id": "global-11",
        "type": "http in",
        "z": "8f99ef41.b6e0f",
        "name": "",
        "url": "/elasticsearch",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "global-12"
            ]
        ]
    },
    {
        "id": "global-12",
        "type": "function",
        "z": "8f99ef41.b6e0f",
        "name": "",
        "func": "delete msg.req, msg.res;\n\nvar es = global.get('elasticsearch');\n\nvar errors = [];\n\nif (es) {\n    var url = es.url;\n} else {\n    errors.push('No ES Connection found in the Global Configuraiton.')\n}\n\nvar request = msg.payload;\n\nif (request.path) {\n    msg.url = url + request.path;\n} else {\n    errors.push('No path found in payload')   \n}\n\nif (request.payload) {\n    msg.payload = request.payload\n}\n\nif (request.method) {\n    msg.method = request.method\n} else {\n    msg.method = 'GET'\n}\n\nmsg.headers = {\n    'Content-Type': 'application/json'\n}\n\nif (global.get('elasticsearch') && global.get('elasticsearch').basicAuth) {\n    var basicAuth = global.get('elasticsearch').basicAuth;\n    if ( basicAuth.username && basicAuth.password) {\n        var username = basicAuth.username;\n        var password = basicAuth.password;\n        var crypt = new Buffer(username + ':' + password).toString('base64')\n        var authStr = 'Basic ' + crypt\n\n        msg.headers.Authorization = authStr;\n    } else {\n        errors.push('Basic Auth Specified, but no username or password found.')   \n    }\n}\n\nmsg.errors = errors;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "global-7",
                "f88500f0.064488"
            ]
        ]
    },
    {
        "id": "global-13",
        "type": "http response",
        "z": "8f99ef41.b6e0f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 400,
        "wires": []
    },
    {
        "id": "global-5",
        "type": "debug",
        "z": "8f99ef41.b6e0f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 120,
        "wires": []
    },
    {
        "id": "global-14",
        "type": "comment",
        "z": "8f99ef41.b6e0f",
        "name": "Kibana Query Proxy",
        "info": "This endpoint exists to simplify the connection to Kibana.\n\nIt could certainly be cleaned up by creating a http node that accept auth changes on the fly or by creating a better ES node.",
        "x": 170,
        "y": 460,
        "wires": []
    },
    {
        "id": "global-15",
        "type": "switch",
        "z": "8f99ef41.b6e0f",
        "name": "",
        "property": "kibana.useTLS",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 490,
        "y": 500,
        "wires": [
            [
                "global-21"
            ],
            [
                "global-17"
            ]
        ]
    },
    {
        "id": "global-17",
        "type": "http request",
        "z": "8f99ef41.b6e0f",
        "name": "Basic Auth without SSL",
        "method": "use",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 670,
        "y": 540,
        "wires": [
            [
                "global-20"
            ]
        ]
    },
    {
        "id": "global-18",
        "type": "http in",
        "z": "8f99ef41.b6e0f",
        "name": "",
        "url": "/kibana",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "global-19"
            ]
        ]
    },
    {
        "id": "global-19",
        "type": "function",
        "z": "8f99ef41.b6e0f",
        "name": "",
        "func": "delete msg.req, msg.res;\n\nvar kibana = global.get('kibana');\n\nvar errors = [];\n\nif (kibana) {\n    var url = kibana.url;\n} else {\n    errors.push('No ES Connection found in the Global Configuraiton.')\n}\n\nvar request = msg.payload;\n\nif (request.path) {\n    msg.url = url + request.path;\n} else {\n    errors.push('No path found in payload')   \n}\n\nif (request.payload) {\n    msg.payload = request.payload\n}\n\nif (request.method) {\n    msg.method = request.method\n} else {\n    msg.method = 'GET'\n}\n\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'kbn-xsrf': 'conveyor'\n}\n\nif (global.get('kibana') && global.get('kibana').basicAuth) {\n    var basicAuth = global.get('kibana').basicAuth;\n    if ( basicAuth.username && basicAuth.password) {\n        var username = basicAuth.username;\n        var password = basicAuth.password;\n        var crypt = new Buffer(username + ':' + password).toString('base64')\n        var authStr = 'Basic ' + crypt\n\n        msg.headers.Authorization = authStr;\n    } else {\n        errors.push('Basic Auth Specified, but no username or password found.')   \n    }\n}\n\nmsg.errors = errors;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 500,
        "wires": [
            [
                "global-15"
            ]
        ]
    },
    {
        "id": "global-20",
        "type": "http response",
        "z": "8f99ef41.b6e0f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 500,
        "wires": []
    },
    {
        "id": "global-21",
        "type": "http request",
        "z": "8f99ef41.b6e0f",
        "name": "Basic Auth with SSL",
        "method": "use",
        "ret": "obj",
        "url": "",
        "tls": "global-16",
        "x": 680,
        "y": 480,
        "wires": [
            [
                "global-20"
            ]
        ]
    },
    {
        "id": "952d970d.157808",
        "type": "function",
        "z": "8f99ef41.b6e0f",
        "name": "",
        "func": "params = {\n    \"elasticsearch\": {\n        \"url\": \"http://172.17.0.3:9220\"\n    },\n    \"node-red\": {\n        \"url\" : \"http://localhost:1880\"\n    },\n    \"api\" : {\n        \"url\" : \"http://localhost:4000\"\n    }\n}\nmsg.payload = params\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 200,
        "wires": [
            [
                "global-4"
            ]
        ]
    },
    {
        "id": "f88500f0.064488",
        "type": "debug",
        "z": "8f99ef41.b6e0f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 260,
        "wires": []
    },
    {
        "id": "{{_id}}-core-1",
        "type": "comment",
        "z": "f905f306.abcfc8",
        "name": "Load Configuration on Start-Up",
        "info": "",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "{{_id}}-core-2",
        "type": "inject",
        "z": "f905f306.abcfc8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "{{_id}}-core-3"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-3",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "Format",
        "func": "msg = {\n    url: global.get('conveyor-api').url + '/flow/{{_url}}',\n    method: 'GET'\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "{{_id}}-core-4"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-4",
        "type": "http request",
        "z": "f905f306.abcfc8",
        "name": "",
        "method": "use",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 450,
        "y": 80,
        "wires": [
            [
                "{{_id}}-core-39"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-5",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "",
        "func": "var parameters = msg.payload.parameters;\nvar parameterNames = [];\n\nparameters.forEach(function(param) {\n    parameterNames.push(param.key)\n    \n    flow.set(param.key, param.value)\n})\n\nflow.set('params', parameterNames);\n\nmsg.payload = parameters\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 80,
        "wires": [
            [
                "{{_id}}-41"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-6",
        "type": "comment",
        "z": "f905f306.abcfc8",
        "name": "Configuration Endpoints",
        "info": "",
        "x": 170,
        "y": 140,
        "wires": []
    },
    {
        "id": "{{_id}}-core-7",
        "type": "http in",
        "z": "f905f306.abcfc8",
        "name": "",
        "url": "/{{_url}}/config",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "{{_id}}-core-8"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-8",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "",
        "func": "var paramNames = flow.get('params');\nvar parameters = {};\n\nparamNames.forEach(function(name) {\n    parameters[name] = flow.get(name);\n})\n\nmsg.payload = parameters\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 180,
        "wires": [
            [
                "{{_id}}-44"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-9",
        "type": "http response",
        "z": "f905f306.abcfc8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 950,
        "y": 120,
        "wires": []
    },
    {
        "id": "{{_id}}-core-10",
        "type": "http in",
        "z": "f905f306.abcfc8",
        "name": "",
        "url": "/{{_url}}/config",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "{{_id}}-core-11"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-11",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "",
        "func": "msg.payload = 'Post is currently not supported. Use PUT to update.'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 220,
        "wires": [
            [
                "{{_id}}-44"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-12",
        "type": "http in",
        "z": "f905f306.abcfc8",
        "name": "",
        "url": "/{{_url}}/config",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "{{_id}}-core-13"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-13",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "",
        "func": "var paramNames = flow.get('params');\nvar updates = [];\nvar errors = [];\n\nif (msg.payload) {\n    var paramsToUpdate = Object.keys(msg.payload);\n    \n    paramsToUpdate.forEach(function(update) {\n        if (paramNames.includes(update)) {\n            var updateParam = {\n                key: update,\n                value: msg.payload[update]\n            }\n            \n            updates.push(updateParam)\n        } else {\n            errors.push('Parameter [' + update + '] not valid.');\n        }\n    })\n} else {\n    errors.push('No Payload found');\n}\n\nif (errors.length > 0) {\n    msg.payload = errors\n} else {\n    updates.forEach(function(update) {\n        flow.set(update.key, update.value)\n    })\n    \n    var elasticParamsUpdate = [];\n    paramNames.forEach(function(param) {\n        elasticParamsUpdate.push({\n            \"key\": param,\n            \"value\": flow.get(param)\n        })\n    })\n    \n    msg.url = global.get('node-red').url + '/elasticsearch',\n    msg.method = 'POST',\n    msg.payload = {};\n    msg.payload.path = '/flow/default/{{_id}}/_update'\n    msg.payload.method = 'POST',\n    msg.payload.payload = {\n        \"doc\" : {\n        \"parameters\" : elasticParamsUpdate\n        }\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 260,
        "wires": [
            [
                "{{_id}}-core-18"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-14",
        "type": "http in",
        "z": "f905f306.abcfc8",
        "name": "",
        "url": "/{{_url}}/config",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "{{_id}}-core-15"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-15",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "",
        "func": "msg.payload = 'Delete is currently not supported. Use PUT to update.'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 300,
        "wires": [
            [
                "{{_id}}-44"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-16",
        "type": "http in",
        "z": "f905f306.abcfc8",
        "name": "",
        "url": "/{{_url}}/config",
        "method": "patch",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "{{_id}}-core-17"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-17",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "",
        "func": "msg.payload = 'Patch is currently not supported. Use PUT to update.'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 340,
        "wires": [
            [
                "{{_id}}-44"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-18",
        "type": "http request",
        "z": "f905f306.abcfc8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 530,
        "y": 260,
        "wires": [
            [
                "{{_id}}-core-19"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-19",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "",
        "func": "if (msg.statusCode != 200) {\n    msg.payload = 'Local Flow Configuration Updated, but not persisted.',\n    msg.statusCode = 500\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 260,
        "wires": [
            [
                "{{_id}}-44"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-20",
        "type": "comment",
        "z": "f905f306.abcfc8",
        "name": "Data Endpoints",
        "info": "",
        "x": 140,
        "y": 400,
        "wires": []
    },
    {
        "id": "{{_id}}-core-21",
        "type": "http in",
        "z": "f905f306.abcfc8",
        "name": "",
        "url": "/{{_url}}/data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "{{_id}}-core-22"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-22",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "",
        "func": "msg.url = global.get('node-red').url + '/elasticsearch',\nmsg.method = 'POST',\nmsg.payload = {\n    path: '/{{_index}}/_search',\n    method: 'GET'\n}\n\nif (msg.req._parsedUrl.search) {\n    msg.payload.path += msg.req._parsedUrl.search\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 440,
        "wires": [
            [
                "{{_id}}-core-24"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-23",
        "type": "http in",
        "z": "f905f306.abcfc8",
        "name": "",
        "url": "/{{_url}}/data/:id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "{{_id}}-core-37"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-24",
        "type": "http request",
        "z": "f905f306.abcfc8",
        "name": "",
        "method": "use",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 530,
        "y": 440,
        "wires": [
            [
                "{{_id}}-core-25"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-25",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "",
        "func": "var data = [];\n\nif (msg.payload.hits && msg.payload.hits.hits) {\n    data = msg.payload.hits.hits;    \n}\n\nmsg.payload = data\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 440,
        "wires": [
            [
                "{{_id}}-43"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-27",
        "type": "http in",
        "z": "f905f306.abcfc8",
        "name": "",
        "url": "/{{_url}}/data/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "{{_id}}-core-28"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-28",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "",
        "func": "msg.url = global.get('node-red').url + '/elasticsearch',\nmsg.method = 'POST',\nmsg.payload = {\n    path: '/{{_index}}/default/' + msg.req.params.id,\n    method: 'GET'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 480,
        "wires": [
            [
                "{{_id}}-core-29"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-29",
        "type": "http request",
        "z": "f905f306.abcfc8",
        "name": "",
        "method": "use",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 530,
        "y": 480,
        "wires": [
            [
                "{{_id}}-core-30"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-30",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "",
        "func": "if (msg.payload.found === true && msg.payload._source) {\n    var data = msg.payload._source;\n}\n\nmsg.payload = data\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 480,
        "wires": [
            [
                "{{_id}}-43"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-31",
        "type": "http request",
        "z": "f905f306.abcfc8",
        "name": "",
        "method": "use",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 530,
        "y": 600,
        "wires": [
            [
                "{{_id}}-43"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-32",
        "type": "httpInMultipart",
        "z": "f905f306.abcfc8",
        "name": "",
        "url": "/{{_url}}/data",
        "method": "post",
        "fields": "[{\"name\": \"file\"}]",
        "swaggerDoc": "",
        "x": 170,
        "y": 600,
        "wires": [
            [
                "{{_id}}-core-33"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-33",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "",
        "func": "if (msg.req.files && msg.req.files.file) {\n    msg.payload = 'Attempting to parse file, see Node-RED logs for status.'\n    \n    return [null, msg]\n} else {\n    var body = msg.payload;\n\n    msg.url = global.get('node-red').url + '/elasticsearch',\n    msg.method = 'POST',\n    msg.payload = {\n        path: '/{{_index}}/default/',\n        method: 'PUT'\n    }\n    \n    if (msg.payload instanceof Array) {\n        var messages = [];\n        \n        msg.payload.forEach(function(data) {\n            msg.payload.payload = data;\n            \n            messages.push(msg)\n        })\n        \n        return [messages, null];\n    } else {\n        msg.payload.payload = body\n        \n        return [msg, null];\n    }\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 370,
        "y": 600,
        "wires": [
            [
                "{{_id}}-core-31"
            ],
            [
                "{{_id}}-45",
                "{{_id}}-20"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-34",
        "type": "http in",
        "z": "f905f306.abcfc8",
        "name": "",
        "url": "/{{_url}}/data/:id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "{{_id}}-core-35"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-35",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "",
        "func": "var body = msg.payload;\n\nmsg.url = global.get('node-red').url + '/elasticsearch',\nmsg.method = 'POST',\nmsg.payload = {\n    path: '/{{_index}}/default/' + msg.req.params.id,\n    method: 'PUT',\n    payload: body\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 520,
        "wires": [
            [
                "{{_id}}-core-36"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-36",
        "type": "http request",
        "z": "f905f306.abcfc8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 530,
        "y": 520,
        "wires": [
            [
                "{{_id}}-43"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-37",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "",
        "func": "msg.url = global.get('node-red').url + '/elasticsearch',\nmsg.method = 'POST',\nmsg.payload = {\n    path: '/{{_index}}/default/' + msg.req.params.id,\n    method: 'DELETE'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 560,
        "wires": [
            [
                "{{_id}}-core-38"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-38",
        "type": "http request",
        "z": "f905f306.abcfc8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 530,
        "y": 560,
        "wires": [
            [
                "{{_id}}-43"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-39",
        "type": "switch",
        "z": "f905f306.abcfc8",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "vt": "num",
                "t": "eq",
                "v": "200"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 590,
        "y": 80,
        "wires": [
            [
                "{{_id}}-core-5"
            ],
            [
                "{{_id}}-core-40"
            ]
        ]
    },
    {
        "id": "{{_id}}-core-40",
        "type": "delay",
        "z": "f905f306.abcfc8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 460,
        "y": 120,
        "wires": [
            [
                "{{_id}}-core-3"
            ]
        ]
    },
    {
        "id": "{{_id}}-2",
        "type": "split",
        "z": "f905f306.abcfc8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 310,
        "y": 880,
        "wires": [
            [
                "{{_id}}-47"
            ]
        ]
    },
    {
        "id": "{{_id}}-4",
        "type": "link in",
        "z": "f905f306.abcfc8",
        "name": "HTTP Response",
        "links": [
            "{{_id}}-35",
            "{{_id}}-39",
            "{{_id}}-40",
            "{{_id}}-42",
            "{{_id}}-43",
            "{{_id}}-44",
            "11194e58.7f22d2",
            "{{_id}}-45"
        ],
        "x": 855,
        "y": 120,
        "wires": [
            [
                "{{_id}}-core-9",
                "{{_id}}-41"
            ]
        ]
    },
    {
        "id": "{{_id}}-5",
        "type": "comment",
        "z": "f905f306.abcfc8",
        "name": "Try to parse file",
        "info": "",
        "x": 160,
        "y": 840,
        "wires": []
    },
    {
        "id": "{{_id}}-6",
        "type": "link in",
        "z": "f905f306.abcfc8",
        "name": "File In",
        "links": [
            "{{_id}}-20"
        ],
        "x": 95,
        "y": 740,
        "wires": [
            [
                "{{_id}}-48"
            ]
        ]
    },
    {
        "id": "{{_id}}-10",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "",
        "func": "if (msg.payload) {\n    var operation = {\n        \"_index\": \"stock-historical-\" + msg.symbol.toLowerCase(),\n        \"_type\": \"doc\"\n    }\n    \n    var data = msg.payload\n        \n    var uniqueField = flow.get('uniqueField');\n    var forceStrings = flow.get('forceStrings');\n    \n    \n    for (var k in data) {\n        if (forceStrings) {\n            data[k] = String(data[k])\n        }\n        \n        newK = k.replace(/\\./g,'_')\n        \n        if (newK != k) {\n            data[newK] = data[k]\n            delete data[k]\n        }\n    }\n    \n    if (uniqueField && uniqueField !== '' && msg.payload[uniqueField]) {\n        operation['_id'] = msg.payload[uniqueField]\n    }\n    \n    var newMsg1 = {};\n    newMsg1.payload = JSON.stringify({index: operation})\n    msg.payload = JSON.stringify(data)\n    \n    if (msg.parts.index == (msg.parts.count - 1)) {\n        msg.complete = true\n    }\n    //msg.complete = true;\n    \n    return [[newMsg1,msg]];\n}",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 1060,
        "wires": [
            [
                "{{_id}}-11"
            ]
        ]
    },
    {
        "id": "{{_id}}-11",
        "type": "join",
        "z": "f905f306.abcfc8",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "10000",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 1060,
        "wires": [
            [
                "{{_id}}-12"
            ]
        ]
    },
    {
        "id": "{{_id}}-12",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "",
        "func": "msg.payload += \"\\n\"\n\nvar insertData = {}\ninsertData = msg.payload;\n\nmsg.url = global.get('node-red').url + '/elasticsearch';\nmsg.method = 'POST'\n\nmsg.payload = {\n    path: '/_bulk',\n    method: 'POST',\n    payload: insertData\n}\n\n\ndelete msg.headers\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 1060,
        "wires": [
            [
                "{{_id}}-13",
                "5c3fcc75.edccfc"
            ]
        ]
    },
    {
        "id": "{{_id}}-13",
        "type": "http request",
        "z": "f905f306.abcfc8",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 850,
        "y": 1060,
        "wires": [
            [
                "{{_id}}-50"
            ]
        ]
    },
    {
        "id": "{{_id}}-14",
        "type": "comment",
        "z": "f905f306.abcfc8",
        "name": "Truncate Existing Data",
        "info": "",
        "x": 180,
        "y": 700,
        "wires": []
    },
    {
        "id": "{{_id}}-15",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "",
        "func": "msg.url = global.get('node-red').url + '/elasticsearch';\nmsg.method = 'POST';\n\nmsg.payload = {\n    path: '/{{_index}}',\n    method: 'HEAD'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 740,
        "wires": [
            [
                "{{_id}}-16"
            ]
        ]
    },
    {
        "id": "{{_id}}-16",
        "type": "http request",
        "z": "f905f306.abcfc8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 610,
        "y": 740,
        "wires": [
            [
                "{{_id}}-17"
            ]
        ]
    },
    {
        "id": "{{_id}}-17",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "",
        "func": "delete msg.method;\ndelete msg.headers;\ndelete msg.req;\n\nif (msg.statusCode == 200) {\n    msg.url = global.get('node-red').url + '/elasticsearch'\n    msg.method = 'POST'\n    \n    msg.payload = {\n        path: '/{{_index}}/_delete_by_query',\n        method: 'POST',\n        payload: {\n            \"query\": {\n                \"match_all\": {}\n            }\n        }\n    }\n    \n    return [msg, null];\n} else {\n    // Likely index doesn't exist so we just continue like it's gone.\n    msg.statusCode = 200;\n    \n    return [null, msg]    \n}",
        "outputs": "2",
        "noerr": 0,
        "x": 750,
        "y": 740,
        "wires": [
            [
                "{{_id}}-18"
            ],
            [
                "{{_id}}-37"
            ]
        ]
    },
    {
        "id": "{{_id}}-18",
        "type": "http request",
        "z": "f905f306.abcfc8",
        "name": "",
        "method": "use",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 910,
        "y": 740,
        "wires": [
            [
                "{{_id}}-30"
            ]
        ]
    },
    {
        "id": "{{_id}}-19",
        "type": "switch",
        "z": "f905f306.abcfc8",
        "name": "",
        "property": "truncate",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 740,
        "wires": [
            [
                "{{_id}}-15"
            ],
            [
                "{{_id}}-36"
            ]
        ]
    },
    {
        "id": "{{_id}}-20",
        "type": "link out",
        "z": "f905f306.abcfc8",
        "name": "File Out",
        "links": [
            "{{_id}}-6"
        ],
        "x": 475,
        "y": 680,
        "wires": []
    },
    {
        "id": "{{_id}}-30",
        "type": "link out",
        "z": "f905f306.abcfc8",
        "name": "Switch out",
        "links": [
            "{{_id}}-31"
        ],
        "x": 1015,
        "y": 740,
        "wires": []
    },
    {
        "id": "{{_id}}-31",
        "type": "link in",
        "z": "f905f306.abcfc8",
        "name": "Switch In",
        "links": [
            "{{_id}}-30",
            "{{_id}}-37",
            "{{_id}}-36"
        ],
        "x": 95,
        "y": 880,
        "wires": [
            [
                "{{_id}}-49"
            ]
        ]
    },
    {
        "id": "{{_id}}-32",
        "type": "link in",
        "z": "f905f306.abcfc8",
        "name": "Load Data",
        "links": [
            "{{_id}}-33"
        ],
        "x": 135,
        "y": 1060,
        "wires": [
            [
                "{{_id}}-10"
            ]
        ]
    },
    {
        "id": "{{_id}}-33",
        "type": "link out",
        "z": "f905f306.abcfc8",
        "name": "Truncated",
        "links": [
            "{{_id}}-32",
            "26f12a47.ace9be"
        ],
        "x": 1055,
        "y": 880,
        "wires": []
    },
    {
        "id": "{{_id}}-34",
        "type": "comment",
        "z": "f905f306.abcfc8",
        "name": "Primary Flow",
        "info": "",
        "x": 130,
        "y": 660,
        "wires": []
    },
    {
        "id": "{{_id}}-36",
        "type": "link out",
        "z": "f905f306.abcfc8",
        "name": "Do Not Truncate",
        "links": [
            "{{_id}}-31"
        ],
        "x": 435,
        "y": 780,
        "wires": []
    },
    {
        "id": "{{_id}}-37",
        "type": "link out",
        "z": "f905f306.abcfc8",
        "name": "Index Does Not Exist",
        "links": [
            "{{_id}}-31"
        ],
        "x": 855,
        "y": 780,
        "wires": []
    },
    {
        "id": "{{_id}}-38",
        "type": "comment",
        "z": "f905f306.abcfc8",
        "name": "Format Data",
        "info": "",
        "x": 190,
        "y": 1020,
        "wires": []
    },
    {
        "id": "{{_id}}-41",
        "type": "debug",
        "z": "f905f306.abcfc8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 950,
        "y": 80,
        "wires": []
    },
    {
        "id": "{{_id}}-43",
        "type": "link out",
        "z": "f905f306.abcfc8",
        "name": "Data Operation Output",
        "links": [
            "{{_id}}-4"
        ],
        "x": 835,
        "y": 520,
        "wires": []
    },
    {
        "id": "{{_id}}-44",
        "type": "link out",
        "z": "f905f306.abcfc8",
        "name": "Data Operation Output",
        "links": [
            "{{_id}}-4"
        ],
        "x": 835,
        "y": 260,
        "wires": []
    },
    {
        "id": "{{_id}}-45",
        "type": "link out",
        "z": "f905f306.abcfc8",
        "name": "Data Operation Output",
        "links": [
            "{{_id}}-4"
        ],
        "x": 475,
        "y": 640,
        "wires": []
    },
    {
        "id": "{{_id}}-47",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "Configure",
        "func": "var newMsg = {}\n\nnewMsg.filename = msg.payload.path\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 880,
        "wires": [
            [
                "{{_id}}-51"
            ]
        ]
    },
    {
        "id": "{{_id}}-48",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "",
        "func": "if (msg.req.files && msg.req.files.file) {\n    msg.files = msg.req.files.file\n    return msg\n} else {\n    node.error('No file found in payload.');\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 740,
        "wires": [
            [
                "{{_id}}-19"
            ]
        ]
    },
    {
        "id": "{{_id}}-49",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "",
        "func": "msg.payload = msg.files\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 880,
        "wires": [
            [
                "{{_id}}-2"
            ]
        ]
    },
    {
        "id": "{{_id}}-50",
        "type": "debug",
        "z": "f905f306.abcfc8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1050,
        "y": 1060,
        "wires": []
    },
    {
        "id": "{{_id}}-51",
        "type": "file in",
        "z": "f905f306.abcfc8",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 590,
        "y": 880,
        "wires": [
            [
                "{{_id}}-52"
            ]
        ]
    },
    {
        "id": "{{_id}}-52",
        "type": "json",
        "z": "f905f306.abcfc8",
        "name": "",
        "pretty": false,
        "x": 714.5,
        "y": 879,
        "wires": [
            [
                "{{_id}}-54"
            ]
        ]
    },
    {
        "id": "{{_id}}-53",
        "type": "split",
        "z": "f905f306.abcfc8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 970,
        "y": 880,
        "wires": [
            [
                "{{_id}}-33"
            ]
        ]
    },
    {
        "id": "{{_id}}-54",
        "type": "function",
        "z": "f905f306.abcfc8",
        "name": "",
        "func": "var dataPath = flow.get('dataPath');\n\nif (dataPath && dataPath != '.') {\n    msg.payload = msg.payload[dataPath]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 880,
        "wires": [
            [
                "{{_id}}-53"
            ]
        ]
    },
    {
        "id": "d8d9c719.f7dcd8",
        "type": "http request",
        "z": "f905f306.abcfc8",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://financialmodelingprep.com/api/v3/historical-price-full/AAPL?apikey=demo",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 1260,
        "wires": [
            [
                "bd0be12a.81466"
            ]
        ]
    },
    {
        "id": "636fa3cd.7d0e24",
        "type": "debug",
        "z": "f905f306.abcfc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1340,
        "wires": []
    },
    {
        "id": "d1dd9899.26b468",
        "type": "inject",
        "z": "f905f306.abcfc8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 1340,
        "wires": [
            [
                "d8d9c719.f7dcd8"
            ]
        ]
    },
    {
        "id": "ebd64371.f94fe8",
        "type": "change",
        "z": "f905f306.abcfc8",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.symbol",
                "pt": "msg",
                "to": "symbol",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.historical",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1340,
        "wires": [
            [
                "45e95a9a.b682c4",
                "636fa3cd.7d0e24"
            ]
        ]
    },
    {
        "id": "bd0be12a.81466",
        "type": "json",
        "z": "f905f306.abcfc8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 550,
        "y": 1340,
        "wires": [
            [
                "ebd64371.f94fe8"
            ]
        ]
    },
    {
        "id": "5c3fcc75.edccfc",
        "type": "file",
        "z": "f905f306.abcfc8",
        "name": "",
        "filename": "/data/test.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1000,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "4be86d96.98cf84",
        "type": "file in",
        "z": "f905f306.abcfc8",
        "name": "",
        "filename": "/data/data.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 360,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "45e95a9a.b682c4",
        "type": "split",
        "z": "f905f306.abcfc8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 670,
        "y": 1180,
        "wires": [
            [
                "{{_id}}-10"
            ]
        ]
    },
    {
        "id": "cc418c87.7d716",
        "type": "function",
        "z": "36422d0f.464e4a",
        "name": "",
        "func": "if (msg.payload) {\n    var operation = {\n        \"_index\": \"stock-news-\" + msg.symbol.toLowerCase(),\n        \"_type\": \"doc\"\n    }\n    \n    var data = msg.payload\n        \n    var uniqueField = flow.get('uniqueField');\n    var forceStrings = flow.get('forceStrings');\n    \n    \n    for (var k in data) {\n        if (forceStrings) {\n            data[k] = String(data[k])\n        }\n        \n        newK = k.replace(/\\./g,'_')\n        \n        if (newK != k) {\n            data[newK] = data[k]\n            delete data[k]\n        }\n    }\n    \n    if (uniqueField && uniqueField !== '' && msg.payload[uniqueField]) {\n        operation['_id'] = msg.payload[uniqueField]\n    }\n    \n    var newMsg1 = {};\n    newMsg1.payload = JSON.stringify({index: operation})\n    msg.payload = JSON.stringify(data)\n    \n    if (msg.parts.index == (msg.parts.count - 1)) {\n        msg.complete = true\n    }\n    //msg.complete = true;\n    \n    return [[newMsg1,msg]];\n}",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "fe37b616.c541e"
            ]
        ]
    },
    {
        "id": "fe37b616.c541e",
        "type": "join",
        "z": "36422d0f.464e4a",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "10000",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 180,
        "wires": [
            [
                "bd23e875.ff743"
            ]
        ]
    },
    {
        "id": "bd23e875.ff743",
        "type": "function",
        "z": "36422d0f.464e4a",
        "name": "",
        "func": "msg.payload += \"\\n\"\n\nvar insertData = {}\ninsertData = msg.payload;\n\nmsg.url = global.get('node-red').url + '/elasticsearch';\nmsg.method = 'POST'\n\nmsg.payload = {\n    path: '/_bulk',\n    method: 'POST',\n    payload: insertData\n}\n\n\ndelete msg.headers\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 180,
        "wires": [
            [
                "aa25d549.521088",
                "7c8fa5f6.11ef84"
            ]
        ]
    },
    {
        "id": "aa25d549.521088",
        "type": "http request",
        "z": "36422d0f.464e4a",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 850,
        "y": 180,
        "wires": [
            [
                "24a98a14.06814e"
            ]
        ]
    },
    {
        "id": "60fa9309.125ce4",
        "type": "comment",
        "z": "36422d0f.464e4a",
        "name": "Format Data",
        "info": "",
        "x": 190,
        "y": 140,
        "wires": []
    },
    {
        "id": "24a98a14.06814e",
        "type": "debug",
        "z": "36422d0f.464e4a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1050,
        "y": 180,
        "wires": []
    },
    {
        "id": "3f11c5bc.af8852",
        "type": "http request",
        "z": "36422d0f.464e4a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://financialmodelingprep.com/api/v3/stock_news?tickers=AAPL&apikey= 0a2f88e94b42325d4d0979e44d641af7",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 380,
        "wires": [
            [
                "9dbc7fb7.76b448"
            ]
        ]
    },
    {
        "id": "231edaad.5e5226",
        "type": "debug",
        "z": "36422d0f.464e4a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 460,
        "wires": []
    },
    {
        "id": "8bd4aee5.872ac8",
        "type": "inject",
        "z": "36422d0f.464e4a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "3f11c5bc.af8852"
            ]
        ]
    },
    {
        "id": "b76969d3.fe3158",
        "type": "change",
        "z": "36422d0f.464e4a",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.symbol",
                "pt": "msg",
                "to": "symbol",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 500,
        "wires": [
            [
                "8f2b816f.3089b"
            ]
        ]
    },
    {
        "id": "9dbc7fb7.76b448",
        "type": "json",
        "z": "36422d0f.464e4a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 550,
        "y": 460,
        "wires": [
            [
                "b76969d3.fe3158",
                "231edaad.5e5226"
            ]
        ]
    },
    {
        "id": "7c8fa5f6.11ef84",
        "type": "file",
        "z": "36422d0f.464e4a",
        "name": "",
        "filename": "/data/test.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1000,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "c1feb082.77a208",
        "type": "file in",
        "z": "36422d0f.464e4a",
        "name": "",
        "filename": "/data/data.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 360,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "8f2b816f.3089b",
        "type": "split",
        "z": "36422d0f.464e4a",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 670,
        "y": 300,
        "wires": [
            [
                "cc418c87.7d716"
            ]
        ]
    },
    {
        "id": "53c80cb5.9d1f94",
        "type": "function",
        "z": "968af95b.b89a4",
        "name": "",
        "func": "if (msg.payload) {\n    var operation = {\n        \"_index\": \"stock-earnings-surprise-\" + msg.payload.symbol.toLowerCase(),\n        \"_type\": \"doc\"\n    }\n    \n    var data = msg.payload\n        \n    var uniqueField = flow.get('uniqueField');\n    var forceStrings = flow.get('forceStrings');\n    \n    \n    for (var k in data) {\n        if (forceStrings) {\n            data[k] = String(data[k])\n        }\n        \n        newK = k.replace(/\\./g,'_')\n        \n        if (newK != k) {\n            data[newK] = data[k]\n            delete data[k]\n        }\n    }\n    \n    if (uniqueField && uniqueField !== '' && msg.payload[uniqueField]) {\n        operation['_id'] = msg.payload[uniqueField]\n    }\n    \n    var newMsg1 = {};\n    newMsg1.payload = JSON.stringify({index: operation})\n    msg.payload = JSON.stringify(data)\n    \n    if (msg.parts.index == (msg.parts.count - 1)) {\n        msg.complete = true\n    }\n    //msg.complete = true;\n    \n    return [[newMsg1,msg]];\n}",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 200,
        "wires": [
            [
                "96d020c4.a03cb"
            ]
        ]
    },
    {
        "id": "96d020c4.a03cb",
        "type": "join",
        "z": "968af95b.b89a4",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "10000",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 470,
        "y": 200,
        "wires": [
            [
                "bdbac27c.d47d68"
            ]
        ]
    },
    {
        "id": "bdbac27c.d47d68",
        "type": "function",
        "z": "968af95b.b89a4",
        "name": "",
        "func": "msg.payload += \"\\n\"\n\nvar insertData = {}\ninsertData = msg.payload;\n\nmsg.url = global.get('node-red').url + '/elasticsearch';\nmsg.method = 'POST'\n\nmsg.payload = {\n    path: '/_bulk',\n    method: 'POST',\n    payload: insertData\n}\n\n\ndelete msg.headers\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 200,
        "wires": [
            [
                "33886840.b4bbd8",
                "b03aa389.3603b8"
            ]
        ]
    },
    {
        "id": "33886840.b4bbd8",
        "type": "http request",
        "z": "968af95b.b89a4",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 870,
        "y": 200,
        "wires": [
            [
                "e53abc5d.eaedc"
            ]
        ]
    },
    {
        "id": "b75014f9.ac0a28",
        "type": "comment",
        "z": "968af95b.b89a4",
        "name": "Format Data",
        "info": "",
        "x": 210,
        "y": 160,
        "wires": []
    },
    {
        "id": "e53abc5d.eaedc",
        "type": "debug",
        "z": "968af95b.b89a4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1070,
        "y": 200,
        "wires": []
    },
    {
        "id": "99064ee6.7203c8",
        "type": "http request",
        "z": "968af95b.b89a4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://financialmodelingprep.com/api/v3/earnings-surpises/AAPL?apikey=demo",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 370,
        "y": 400,
        "wires": [
            [
                "e510b543.033878"
            ]
        ]
    },
    {
        "id": "855fad5f.db0868",
        "type": "debug",
        "z": "968af95b.b89a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 560,
        "wires": []
    },
    {
        "id": "c2df745d.dd7f5",
        "type": "inject",
        "z": "968af95b.b89a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 480,
        "wires": [
            [
                "99064ee6.7203c8"
            ]
        ]
    },
    {
        "id": "e510b543.033878",
        "type": "json",
        "z": "968af95b.b89a4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 570,
        "y": 480,
        "wires": [
            [
                "fb3117db.89b62"
            ]
        ]
    },
    {
        "id": "b03aa389.3603b8",
        "type": "file",
        "z": "968af95b.b89a4",
        "name": "",
        "filename": "/data/test.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1020,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "6fe598de.166258",
        "type": "file in",
        "z": "968af95b.b89a4",
        "name": "",
        "filename": "/data/data.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 380,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "fb3117db.89b62",
        "type": "split",
        "z": "968af95b.b89a4",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 550,
        "y": 300,
        "wires": [
            [
                "53c80cb5.9d1f94"
            ]
        ]
    }
]